The following notebook is going to carry out feature selection with the chi squared test

Null Hypothesis: Two variables are independent

Alternate Hypothesis: Two variables are dependent

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_filepath = "../data/UmeaSiblingBundlingMLDistances-Top100.csv"

all_data = pd.read_csv(data_filepath)

## Dataframe of features
data = all_data.iloc[:,0:-2]

data.head()

,Cosine.FATHER_FORENAME,Cosine.FATHER_SURNAME,Cosine.MOTHER_FORENAME,Cosine.MOTHER_MAIDEN_SURNAME,Cosine.PARENTS_PLACE_OF_MARRIAGE,Cosine.PARENTS_DAY_OF_MARRIAGE,Cosine.PARENTS_MONTH_OF_MARRIAGE,Cosine.PARENTS_YEAR_OF_MARRIAGE,Damerau-Levenshtein.FATHER_FORENAME,Damerau-Levenshtein.FATHER_SURNAME,...,Metaphone-Levenshtein.PARENTS_MONTH_OF_MARRIAGE,Metaphone-Levenshtein.PARENTS_YEAR_OF_MARRIAGE,NYSIIS-Levenshtein.FATHER_FORENAME,NYSIIS-Levenshtein.FATHER_SURNAME,NYSIIS-Levenshtein.MOTHER_FORENAME,NYSIIS-Levenshtein.MOTHER_MAIDEN_SURNAME,NYSIIS-Levenshtein.PARENTS_PLACE_OF_MARRIAGE,NYSIIS-Levenshtein.PARENTS_DAY_OF_MARRIAGE,NYSIIS-Levenshtein.PARENTS_MONTH_OF_MARRIAGE,NYSIIS-Levenshtein.PARENTS_YEAR_OF_MARRIAGE
0,1.000,1.000,0.867,1.000,1.0,1.000,0.784,0.738,0.800,0.875,...,0,0,0.8,0.857,0.833,0.857,0.833,0,0,0
1,0.000,0.000,0.408,0.195,0.0,0.000,0.000,0.000,0.000,0.000,...,0,0,0.0,0.000,0.000,0.000,0.000,0,0,0
2,0.883,1.000,0.855,1.000,1.0,0.784,0.000,0.738,0.833,0.875,...,0,0,0.8,0.800,0.833,0.857,1.000,0,0,0
3,0.000,0.000,0.000,0.195,0.0,0.000,0.000,0.000,0.000,0.000,...,0,0,0.0,0.000,0.000,0.000,0.000,0,0,0
4,1.000,0.707,0.893,0.939,1.0,1.000,0.784,0.738,0.800,0.800,...,0,0,0.8,0.800,0.833,0.857,1.000,0,0,0

In [25]:
## Use scikit learn's implementation

from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

Carrying out chi squared test (and retrieving the p value) between each column and every other column. (And trying to "predict" each column based on every other column)

In [ ]:
## Can also use chi values
row_p_values = []

for i in range(len(data)):
    chi_scores = chi2(data.iloc[:,:i] + data.iloc[:,i+1:],data.iloc[:,i])

In [26]:
chi2_selector = SelectKBest(chi2,k=2)
data_kbest = chi2selector.fit_transform(data,all_data.iloc[:,-2:-1])

In [48]:
# print("Original shape", data.values.shape)
# print(data_kbest)

i= 1

data.iloc[:,:i] + data.iloc[:,i+1:]

# for ii in range(len(data)):
#         ##chi2(remaining column, single column)

# chi_scores = chi2(data.iloc[:,:i] + data.iloc[:,i+1:],data.iloc[:,i])

data.iloc[:,:i] + data.iloc[:,i+1]

,Cosine.FATHER_FORENAME,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

data.head

In [52]:
i = 2
pd.concat([data.iloc[:,:i],data.iloc[:,i+1]],axis = 1).head()

   Cosine.FATHER_FORENAME  Cosine.FATHER_SURNAME  Cosine.MOTHER_MAIDEN_SURNAME
0                   1.000                  1.000                         1.000
1                   0.000                  0.000                         0.195
2                   0.883                  1.000                         1.000
3                   0.000                  0.000                         0.195
4                   1.000                  0.707                         0.939

**30 minutes passed**